@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Rubik+Dirt&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardHighlight {
  min-height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#bg {
  background-image: url("./images/jaws.png");
  width: 300px;
  height: 300px;
}
#navbar {
  background-color: transparent;
}
#navBrand {
  font-family: "Rubik Dirt";
  color: #f5f2ee;
  font-size: 2rem;
}

a.nav-link {
  color: wheat;
  font-family: "Nanum Myeongjo";
}

.App video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#wholebg {
  position: relative;
  left: 15%;
  height: 100%;
  width: 100%;
}

#banner {
  height: 20rem;
  padding-top: 5rem;
}
.bannerText {
  font-family: "Rubik Dirt";
  font-size: 5.5rem;
  color: #c7c4c1;
  position: relative;
  bottom: 30%;
  right: 15%;
  text-align: center;
}

#btn {
  position: relative;
  align-content: center;
  width: 10rem;
  padding: 1rem;
  display: inline-block;
}
/* #registerForm {
  background: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: "Nanum Myeongjo";
  color: #1e5162;
  position: relative;
  right: 40%;
  border-radius: 10%;
} */

#titleRegister {
  font-family: "Nanum Myeongjo";
  font-weight: 100;
  color: #f5f2ee;
}
/* #regImg {
  background-repeat: no-repeat;
  height: 1000px;
  position: relative;
  left: 40%;
} */
body {
  overflow-x: hidden;
}

/* #login {
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
  color: #1e5162;
  position: relative;

  border-radius: 2%;
} */
#login {
  max-width: 50%;
}
#logCont {
  padding-left: 20rem;
}
#logintitle {
  font-family: "Nanum Myeongjo";
  padding-left: 20rem;
  color: #faf8f7;
}

#profileCard {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}
#profileCard:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.95);
  filter: blur(1px);
  margin: -20px;
}

#regContainer {
  background-image: url(./images/loginfish.png);
  background-repeat: no-repeat;
  margin-right: 40%;
}

#viewProd {
  display: inline;
}
#prodImg {
  width: 200px;
  display: flex;
  margin-left: 25rem;
}
#prodBut {
  width: 15%;
}
